<div class="container">
    <div class="inline-container">
        <div class="text-container">
            <span> 
                Shroomiez curate the Shroomieverse via snapshot proposals. <br><br>
                Get ready for the SHROOMIEZ WARS.  </span>
            <img src="../../assets/images/door.png">
        </div>
        <div class="img-container">
            <img src="../../assets/images/footer.PNG" alt="">
        </div>
    </div>
    <div class="btn-container">
        <button>
            <span>
                {{ 'enter the shroomieverse' | uppercase }}
            </span>
        </button>
    </div>
    <div class="footer-container">
        <div class="left">
            
        </div>
    </div>

</div>