<div class="container">
    <div class="inline-container">
        <div class="text-container">
            <span>
                Shroomiez curate the Shroomieverse via snapshot proposals. <br><br>
                Get ready for the SHROOMIEZ WARS. </span>
        <a [routerLink]="['/roadmap']"><img src="../../assets/images/door.png"></a>
        </div>
        <div class="img-container">
            <img src="../../assets/images/footer.PNG" alt="">
        </div>
    </div>
    <div class="btn-container">
        <a href="https://airtable.com/appp0IUU1jOhW39Nv/shrvuZZuKzt5O8hNy" target="_blank ">
            <button>
                <span>
                    {{ 'enter the shroomieverse' | uppercase }}
                </span>
            </button>
        </a>
    </div>
    <div class="footer-container">
        <div class="left">
            <span>REQUEST SHROOMLIST</span>
            <app-search-bar></app-search-bar>
        </div>
        <div class="right">
            <div class="icons">
                <a href="https://twitter.com/ShroomiezNFTs" target="_blank"><img src="../../assets/images/twitter.png"
                        alt=""></a>
                <a href="https://www.instagram.com/shroomieznfts/" target="_blank"><img src="../../assets/images/ig.png"
                        alt=""></a>
                <a href="https://discord.gg/ecG6ChgKwx" target="_blank"><img src="../../assets/images/discord.png"
                        alt=""></a>
                <a href="https://t.me/+Tq2c14tuOzA3YWM0" target="_blank"><img src="../../assets/images/telegram.png"
                        alt=""></a>
            </div>
            <a><span>Shroomiez Terms & Conditions</span></a>
        </div>
    </div>

</div>