.container {
    height: 100%;
    background-image: linear-gradient(180deg,#2962cd,#b3f0ff);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .inline-container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .text-container{
        position: relative;
        background-color: #f4eea9;
        width: 425px;
        padding: 20px;
        padding-bottom: 40px;
        border-radius: 10px;
        box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, .2);
        span{
            font-size: 25px;
            font-family: JokeyOne;
        }
        img{
            position: absolute;
            height: 60px;
            right: 20px;
            bottom: 10px;
        }
    }

    .img-container{
        padding: 2vw;
    }
}


@media only screen and (min-width: 200px) and (max-width: 420px) {
    .container{
        .inline-container{
            flex-direction: column;
        }
        .text-container{
            width: 200px;
            span{
                font-size: 13px;
                font-family: JokeyOne;
            }
            img{
                position: absolute;
                height: 30px;
                right: 20px;
                bottom: 6px;
            }
        }
    }

}