<div class="container">
    <div class="inline-container">
        <div class="img-container">
            <app-slider></app-slider>
        </div>
        <div class="text-container">
            <span> Shroomiez is a collection of 660 meticulously hand-drawn NFTs that exist on the Ethereum blockchain. Stepping into the vibrant Shroomieverse means immersing oneself in a metaverse of untapped utility and value, providing opportunities for prosperity through DeFi and NFTs. <br><br>Just as each Shroomie is unique in its design, the experiences and opportunities it offers are singularly remarkable. As a Shroomie holder, you become a part of an influential decentralized community that is set to shape the future of the digital realm.</span>
        <a [routerLink]="['/about']"><img src="../../assets/images/door.png"></a> 
        </div>
    </div>
</div>