<div class="slider-container">
    <!-- <img src="../../assets/images/shroomiezamanitaonobg-2@2x.png" class="slide_header"> -->
    <div class="slider">
        <div class="slide" style="background-image: url(../../assets/images/home2.JPG);"></div>
        <div class="slide active" style="background-image: url(../../assets/images/home3.JPG);"></div>
        <div class="slide" style="background-image: url(../../assets/images/home4.JPG);"></div>
        <div class="slide" style="background-image: url(../../assets/images/home5.JPG);"></div>
        <div class="slide" style="background-image: url(../../assets/images/home6.JPG);"></div>
        <div class="slide" style="background-image: url(../../assets/images/home7.JPG);"></div>
    </div>
</div>

