.slider-container{
    position: relative;
    border: 5px solid;
    border-image: linear-gradient(45deg, #fff484, #f3048b) 1;;
    width: 250px;
    overflow: hidden;
    img{
        height: 40px;
        position: absolute;
        top: 15px;
        z-index: 1;
    }
    .slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
        .slide {
            flex: 0 0 100%;
            height: 250px;
            background-size: 100% 100%;
            &.active{
                transform: translateX(0);
            }
        }
    }
}

@media only screen and (min-width: 200px) and (max-width: 820px)  {
    .slider-container{
        width: 250px;
        height: 250px;
        img{
            height: 20px;
            left: 20px;
        }
        .slider{
            .slide{
                height: 250px;
            }
        }
    }
}