<div class="marquee">
    <div class="track">
        <div class="content">&nbsp;GET SHROOMLISTED!! DON'T FORGET TO GET SHROOMLISTED!! GET
            SHROOMLISTED!! DON'T FORGET TO GET SHROOMLISTED! GET SHROOMLISTED!!
            DON'T FORGET TO GET SHROOMLISTED!! GET SHROOMLISTED!! DON'T FORGET TO
            GET SHROOMLISTED!!GET SHROOMLISTED!! DON'T FORGET TO GET SHROOMLISTED!!GET SHROOMLISTED!! DON'T FORGET TO
            GET SHROOMLISTED!!GET SHROOMLISTED!! DON'T FORGET TO GET SHROOMLISTED!!GET SHROOMLISTED!! DON'T FORGET TO
            GET SHROOMLISTED!!GET SHROOMLISTED!! DON'T FORGET TO GET SHROOMLISTED!!GET SHROOMLISTED!! DON'T FORGET TO
            GET SHROOMLISTED!!</div>
    </div>
</div>