.container {
    width: 100%;
    background: linear-gradient(180deg, #1858d1, #b3f0ff), #fff;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        padding: 0 10px;
        display: flex;
        align-items: center;

        #icon {
            height: 50px;
        }

        #name {
            height: 30px;
        }
    }

    .btn {
        height: 60px;
        width: 100px;
        margin: 5px;
        border-radius: 10px;
        background-color: #2a50b7;
        border: none;
        font-size: 30px;
        font-weight: bold;
        color: white;
        font-family: JokeyOne;
        letter-spacing: 3px;
    }
}


.content {
    padding: 40px 40px;

    .txt-span {
        font-family: JokeyOne;
        font-size: 20px;
    }

    .heading {
        margin-bottom: 10px;
    }

    .div {
        padding: 20px;

        &.about {
            background-color: #b2f0ff;
            margin-bottom: 30px;
        }

        &.specs {
            background-color: #b1c1ec;
            margin-bottom: 30px;
        }

        &.team {
            background-color: #f7efcd;
        }
    }
}

.img-table {

    table,
    td {
        border: 2px solid #013270;
        border-collapse: collapse;
        padding: 0px;
        margin: 0px;
        border-spacing: 0px;
    }

    table td img {
        display: block;
        height: 100px;
        max-width: 100%;
        max-height: 100%;
    }

    table {
        min-width: 190px;
    }
}

.sub-menu {
    width: 100%;
    background-image: linear-gradient(180deg, #370C59 0%, #ABCCFF 100%);
    position: absolute;
    max-height: 0;
    z-index: 9;
    transition: max-height 0.5s;
    overflow: hidden;

    &.opened {
        max-height: 270px;
    }

    .menu-container {
        display: flex;
        flex-direction: row;
        position: relative;

        img {
            height: 40px;
            width: 40px;
            position: absolute;
            right: 10px;
            top: 10px;
        }

        .btn-div {
            margin-top: 20px;
            margin-left: 30px;
            margin-right: 30px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            a {
                font-family: JokeyOne;
                font-size: 30px;
                border-radius: 40px;
                padding: 6px 20px;
                background-color: white;
                margin-right: 50px;
                margin-bottom: 30px;
                background-color: #a490b3;
                text-decoration: none;
                color: inherit;
                &.disable{
                  opacity: 0.5;  
                }
            }

            
        }
    }
}

.inline {
    display: flex;
    flex-direction: row;
}


.roadmap-container{
    img{
        height: 100vh;
        width: 100%;
    }

    #large{
        display: block;
    }
    #small{
        display: none;
    }
}

@media only screen and (min-width: 200px) and (max-width: 420px) {
    .inline {
        flex-direction: column;
    }

    .sub-menu {
        &.opened {
            max-height: 570px;
        }

        .menu-container {
            flex-direction: column;
        }
    }

    .roadmap-container{
        #large{
            display: none;
        }
        #small{
            display: block;
        }
    }
}