<div class="container">
    <div class="header">
        <img src="../../assets/images/logo.png">
    </div>
    <div style="width: 100%;height: 10px;background-color: #fff484;"></div>
    <div class="sub-menu">
        <div class="menu-container">
            <img src="../../assets/images/close.png" (click)="openMenu()">
            <div class="btn-div">
                <a> HOME </a>
                <a [routerLink]="['about']"> ABOUT US </a>
                <a> SHROOMIEVERSE </a>
            </div>
            <div class="btn-div">
                <a> MINT </a>
                <a> ROADMAP </a>
                <a> BRIDGE </a>
            </div>
        </div>
    </div>
    <div class="content">
        <button class="btn" (click)="openMenu()"> MENU </button>
        <div class="icons">
            <img src="../../assets/images/twitter.png" alt="">
            <img src="../../assets/images/ig.png" alt="">
            <img src="../../assets/images/discord.png" alt="">
            <img src="../../assets/images/telegram.png" alt="">
        </div>
    </div>
    

    <div class="content-body">
        <img src="../../assets/images/shroomiez-amanitaO-nobg.png" class="logo">

        <a href="#home">
            <button>
                <span> Press To Enter Shroomlist </span>
            </button>
        </a>
    </div>
</div>
<app-landing id="home"></app-landing>
<app-footer></app-footer>