<div class="container">
    <div class="header">
        <img src="../../assets/images/logo.png">
    </div>
    <div class="content">
        <button class="btn"> MENU </button>
        <div class="icons">
            <img src="../../assets/images/discord.png" alt="">
            <img src="../../assets/images/discord.png" alt="">
            <img src="../../assets/images/discord.png" alt="">
            <img src="../../assets/images/discord.png" alt="">
        </div>
    </div>
    <div class="content-body">
        <img src="../../assets/images/shroomiez-amanitaO-nobg.png" class="logo">
        <button>
            <span> Press To Enter Shroomlist </span>
        </button>
    </div>
</div>