.container {
    height: 100%;
    background-image: url(../../assets/images/shroom.gif);
    background-size: 100% 100%;
    position: relative;
    z-index: 1;
    .svg-container{
        height: 500px;
        width: 100%;
        background-image: url("../../assets/images/Shroomie-jump1.svg");
        background-size: 170% 100%;
        position: absolute;
        z-index: -1;
        bottom: 100px;
    }
    .sub-menu {
        width: 100%;
        background-image: linear-gradient(180deg, #370C59 0%, #ABCCFF 100%);
        position: absolute;
        max-height: 0;
        z-index: 9;
        transition: max-height 0.5s;
        overflow: hidden;

        &.opened {
            max-height: 900px;
        }

        .ip-container {
            display: flex;
            flex-direction: row;
            padding-left: 20px;
            justify-content: space-between;

            a {
                text-decoration: none;
                color: inherit;
            }

            span {
                padding: 0 10px;
            }

            .icons {
                padding-right: 20px;

                img {
                    height: 30px;
                    padding: 5px;
                }
            }
        }

        .menu-container {
            display: flex;
            flex-direction: row;
            position: relative;

            img {
                height: 40px;
                width: 40px;
                position: absolute;
                right: 10px;
                top: 10px;
            }

            .btn-div {
                margin-top: 20px;
                margin-left: 30px;
                margin-right: 30px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                a {
                    font-family: JokeyOne;
                    font-size: 30px;
                    border-radius: 40px;
                    padding: 6px 20px;
                    background-color: white;
                    margin-right: 50px;
                    margin-bottom: 30px;
                    background-color: #a490b3;
                    text-decoration: none;
                    color: inherit;

                    &.disable {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}


.marquee-element {
    position: absolute;
    display: block;
    height: 100%;
    top: 30%;
    z-index: 1;
}


.header {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #370C59 0%, #ABCCFF 100%);
    position: relative;
    overflow: hidden;

    img {
        z-index: 2;
    }
}

.header img {
    height: 60px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;

    .btn {
        height: 60px;
        width: 100px;
        margin: 15px;
        border-radius: 10px;
        background-color: #2a50b7;
        border: none;
        font-size: 30px;
        font-weight: bold;
        color: white;
        font-family: JokeyOne;
        letter-spacing: 3px;
    }

    .icons {
        margin-left: auto;
        padding-right: 25px;
        margin-top: 15px;

        img {
            height: 50px;
            padding-left: 10px;
        }
    }
}

.content-body {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
        height: 125px;
        width: 250px;
        border-radius: 10px;
        border: none;
        background-color: #f6efcd;
        box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, .2);

        span {
            font-family: "IrishGrover";
            font-size: 30px;
        }
    }
}

.content-body img {
    height: 120px;
    width: 670px;
    padding-bottom: 100px;
}


d-none {
    display: none;
}


@media only screen and (min-width: 200px) and (max-width: 420px) {
    .container {
            background-image: url(../../assets/images/landing-page-1.png);
        .icons {
            img {
                height: 35px;
            }
        }

        .sub-menu {
            &.opened {
                max-height: 570px;
            }

            .menu-container {
                flex-direction: column;
            }

            .ip-container {
                display: none;
            }
        }
    }

    .content-body img {
        height: 60px;
        width: 280px;
        padding-bottom: 100px;
    }


}